.mainContainer {
    margin:0 auto 0 auto;
}

.navbar {
    border-radius:0;
    margin:0;
    -webkit-font-smoothing: subpixel-antialiased;
}

h1 {
    margin:0 0 20px 0;
    font-weight: normal;
}

.jumbotron {
    margin:0 0 20px 0;
    padding:0;
    float:left;
    border-bottom:1px solid #ddd;
    width:100%;
    padding:10px 0 20px 0;
}

.mainContent p {
    font-size:16px;
    -webkit-font-smoothing: subpixel-antialiased;
    font-weight: normal;
    color:#555;
}

.subContent h2 {
    margin:0 0 20px 0;
    font-weight: normal;
}

.subBtn {
    width:200px;
    background-color:#A1C55F;
    border:1px solid #8BAC53;
    border-radius:3px;
    padding:10px 20px 10px 20px;
    color:#fff;
    text-align: center;
    cursor: pointer;
    margin:25px auto 25px auto;
    display: block;
    text-decoration: none;
    border-bottom:2px solid #8BAC53;
    font-weight: normal;
}

.subBtn:hover {
    background-color:#8BAC53;
    text-decoration: none;
    color:#fff;
}

@media screen and ( max-width: 700px ) {
    .subContainer {
        border-bottom:1px solid #ddd;
        padding:20px 10px 0 10px;
    }

    .jumbotron {
        margin:0;
        padding-bottom:0;
    }

    .footer {
        margin-top:20px;
    }
}

.footer {
    margin-top:10px;
    color:#999;
}

.navSearch {
    width:200px;
    height:30px;
    border:1px solid #aaa;
    border-radius:15px;
    padding:5px 10px 5px 10px;
    margin:10px 0 0 10px;
    float:left;
    color:#555555;
    outline:0;
}